*{
    font-family: "Times New Roman";
}
.upper_left_box{
    margin-top: 40px;
    margin-left: 60px;
    width: 400px;
    height: auto;
    border: 1px solid black;
    text-align: center;
}
.upper_right_box{
    margin-top: 40px;
    margin-right: 60px;
    width: 400px;
    height: auto;
    border: 1px solid black;
    text-align: center;
}
.inline_this{
    display: inline-block;
}
p > span{
    margin-left: 30px;
}
input[type=text]{
    border-style: none;
    border-color: black;
    border-bottom-style: dotted;
}
input[type=radio]{
    box-sizing: border-box;
    appearance: none;
    background-color: white;
    outline: 2px solid #333;
    border: 2px solid white;
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
input[type=radio]:checked{
    background-color: #333;
}
input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    border-style: none;
    border-bottom-style: dotted;
    border-color: black;
}
.digit td{
    border-collapse: collapse;
    padding: 0px;
    border: 1px solid black;
}
td input[type=text]{ 
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 20px;
    border-style: none;
}